<div class="testimonial">
  <div class="container">
     <div class="row">
        <div class="col-md-8 offset-md-2">
           <div class="titlepage text_align_center">
              <h2>Our Sponsers</h2>
              <p>MUST OPERA HOUSE </p>
           </div>
        </div>
     </div>
     <div class="row d_flex">
        <div class="col-md-10 offset-md-1">
          <div class="sponsor-slider-wrapper">
            <div class="sponsor-slider slide-1">
              <div class="item" *ngFor="let item of Sponser">
                <a href="#">
                  <img src="{{ImagePath}}/{{item?.logoURL}}" alt="img"/>
                </a>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>
