<section id="news" class="section_6">
  <div class="section_bg_image" style="background-image: url(assets/MUST_Opera/covwe.jpg)"></div>
  <div class="section">
      <!-- NEWS TOITLE -->
      <div class="title">
          <div class="">
              <h1 style="color: white;">News</h1>
              <p>Blog</p>
          </div>
      </div>
      <div class="news">
          <div class="row">
              <div class="col wow fadeInUpBig">
                  <div class="bg_image" style="background-image: url(assets/MUST_Opera/G14.jpg)"></div>
                  <div class="overly"></div>
                  <div class="news_content news_content_1">
                      <h2>selim sahab</h2>
                      <div class="day_num">
                          <span>02</span>
                          <div>
                              <p>MAR</p>
                              <p>2022</p>
                          </div>
                          <p>by Admin</p>
                      </div>
                      <div class="n_c">
                          <p>
                            is a conductor and contemporary composer...
                          </p>
                      </div>
                      <div class="cta">
                          <a href="11-Blog-Single-Post.html">Read More</a>
                      </div>
                  </div>
              </div>
              <div class="col wow fadeInUp">
                  <div class="bg_image" style="background-image: url(assets/MUST_Opera/G11.jpg)"></div>
                  <div class="overly"></div>
                  <div class="news_content news_content_2">
                      <h2>Medhat Saleh</h2>
                      <div class="day_num">
                          <span>16</span>
                          <div>
                              <p>Nov</p>
                              <p>2016</p>
                          </div>
                          <p>by admin</p>
                      </div>
                      <div class="n_c">
                          <p>
                              This is an Actor in egypt ... .
                          </p>
                      </div>
                      <div class="cta">
                          <a [routerLink]="['/dqada']" routerLinkActive="active">Read More</a>
                      </div>
                  </div>
              </div>
              <div class="col wow fadeInUpBig">
                <div class="bg_image" style="background-image: url(assets/MUST_Opera/G4.jpg)"></div>
                <div class="overly"></div>
                <div class="news_content news_content_1">
                    <h2>Presentation Ballet</h2>
                    <div class="day_num">
                        <span>02</span>
                        <div>
                            <p>MAR</p>
                            <p>2022</p>
                        </div>
                        <p>by Admin</p>
                    </div>
                    <div class="n_c">
                        <p>
                          is a conductor and contemporary composer...
                        </p>
                    </div>
                    <div class="cta">
                        <a href="11-Blog-Single-Post.html">Read More</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
