<section id="news" class="section_6">
  <div class="section_bg_image" style="background-image: url(assets/MUST_Opera/covwe.jpg)"></div>
  <div class="section">
      <!-- NEWS TOITLE -->
      <div class="title">
          <div class="">
              <h1 style="color: white;">News</h1>
              <p>Blog</p>
          </div>
      </div>
      <div class="news">
          <div class="row">
              <div class="col wow fadeInUpBig" *ngFor="let item of News | slice:0:3; let i=index">
                  <div class="bg_image" style="background-image: url(assets/MUST_Opera/G3.jpg)"></div>
                  <div class="overly"></div>
                  <div class="news_content news_content_1">
                      <h2>{{item.title}}</h2>
                      <div class="n_c">
                      </div>
                      <div class="cta">
                          <a [routerLink]="['/news-Details/'+item.newsID]">Read More</a>
                      </div>
                  </div>
              </div>
              </div>
      </div>
  </div>
</section>
