<div id="about" class="about">
  <div class="container-fluid">
     <div class="row d_flex">
        <div class="col-md-6">
           <div class="titlepage text_align_left">
              <h2>{{header}}</h2>
              <p style="text-align: justify;">
                {{content}}
             </p>
              <a class="read_more" routerLink="/about-us" style="background-color: #002E5c; color: #fff;" >Read More</a>
           </div>
        </div>
        <div class="col-md-6">
           <div class="about_img">
              <figure><img class="img_responsive"  src="assets/MUST_Opera/Bg.jpg" alt="#"/></figure>
           </div>
        </div>
     </div>
  </div>
</div>
