<section id="gallery" class="section_4">
  <!-- IMAGE GALLERY TITLE -->
  <div class="title">
      <div class="">
          <h1 style="color: #fff;">Gallery</h1>
          <p>{{title}}</p>
          <p>{{description}}</p>
      </div>
  </div>
  <div id="image-gallery" class="row img_gallery">
    <div class="wrap">
      <div class="content">
        <div class="row">
<div id="carousel" data-auto="true">
  <div id="scene">
    <img *ngFor="let item of AlbumDTO.images let i = index;" class="carousel_item" src="{{ImagePath}}{{item?.url}}" alt="">
  </div>

  <div id="carousel_btn">
    <div class="btn prev">Prev</div>
    <div class="btn next">Next</div>
  </div>
</div>
    </div>
    </div>
    </div>
  </div>
</section>
