<body class="gallery-photogallery">
  <!-- PRELOADER -->
  <!-- <div id="preloader"></div> -->
  <!-- START HEADER SECTION -->
  <section id="header">
    <app-navbar></app-navbar>
    <!-- HEADER BACKGROUND IMAGE  -->
      <div class="bg_image" style="background-image: url(assets/MUST_Opera/Bg.jpg)"></div>
      <div class="overly"></div>
      <div class="header-continer">
          <div class="section">
              <!-- LOGO -->
              <div class="logo"><a [routerLink]="['/home']"><img src="assets/MUST_Opera/opera.png" alt="Logo"></a></div>
              <div class="header_items">
                  <div class="search_icon">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 15.642 15.642" enable-background="new 0 0 15.642 15.642" width="21" height="21">
                          <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z" fill="#FFFFFF"/>
                      </svg>
                  </div>
                  <!-- <div class="shop_icon">
                      <a href="14-Cart.html">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          <span class="card_count">2</span>
                      </a>
                  </div> -->
                  <div class="menu_icon">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 15.642 15.642" enable-background="new 0 0 15.642 15.642" width="21" height="21">
                          <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z" fill="#FFFFFF"/>
                      </svg>
                  </div>
              </div>
          </div>
      </div>

      <!-- HEADER TITLE  -->
    </section>
      <!-- END HEADER SECTION -->
      <br>
      <br>
  <!-- START TITLE SECTION -->
  <section id="page-title">
      <div class="title-image">
          <!--<h1>beatswave</h1>-->
          <!-- <img src="resources/images/logo1.png" alt="Logo 1"> -->
      </div>
      <div class="global-title wow zoomIn">
          <h1>GALLERY</h1>
      </div>
  </section>
  <!-- END TITLE SECTION -->
  <!-- START PHOTOGALLERY SECTION -->
  <section id="discography">
      <div class="row">
          <div class="w-100 col-md-4 music-banner" >
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/david-cohen.png" alt="David Cohen">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>NEW DESIGN TRENDS</h2>
                          <p>Design</p>
                      </div>
                  </div>
                  <a routerLink="/ImageDetails"  class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/gabriel-gurrola.jpg" alt="Gabriel Gurrola">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>LAST TOUR</h2>
                          <p>Tour</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/clem-onojeghuo.jpg" alt="Clem Onojeghuo">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>WE LIKE IT</h2>
                          <p>Life Style</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="./../../../../assets/resources/images/fares-nimr.png" alt="Fares Nimr">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>WORK LIKE HOLIDAYS</h2>
                          <p>Tour</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/austin-neill.png" alt="Austin Neill">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>ROMANCE ROOM</h2>
                          <p>Festival</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/samuel-fyfe.jpg" alt="Samuel Fyfe">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>BLACK DAY</h2>
                          <p>Tour</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/john-noonan.png" alt="John Noonan">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>THE CASH</h2>
                          <p>Life Style</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/clem-onojeghuo.jpg" alt="Clem Onojeghuo">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>BEST COMPANY</h2>
                          <p>Tour</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
          <div class="w-100 col-md-4 music-banner">
              <div class="w-100">
                  <img class="music-banner-image" src="../../../../assets/resources/images/roksolana-zasiadko.jpg" alt="Roksolana Zasiadko">
                  <div class="music-banner-text">
                      <div class="dis-name">
                          <h2>DESIGN FUTURE</h2>
                          <p>Design</p>
                      </div>
                  </div>
                  <a href="09-Gallery-Single-Gallery.html" class="music-banner-link"></a>
              </div>
          </div>
      </div>
  </section>
  <!-- END PHOTOGALLERY SECTION -->

  <!-- Footer -->
<app-footer></app-footer>
</body>
