<section id="gallery" class="section_4">
  <!-- IMAGE GALLERY TITLE -->
  <div class="title">
      <div class="">
          <h1 style="color: #fff;">Album and Gallery</h1>
          <p>MUST OPEAR HOUSE GALLERY DISCOVER US</p>
      </div>
  </div>
  <div id="image-gallery" class="row img_gallery">
    <div class="wrap">
      <div class="content">
        <div class="row">
          <a routerLink="/All-Images" class="set" *ngFor="let album of Albums">
            <span class="layer one"><img src="../../../assets/MUST_Opera/G10.jpg" alt=""></span>
            <span class="layer two"><img src="../../../assets/MUST_Opera/G11.jpg" alt=""></span>
            <span class="layer three">{{album.title}}</span>
            <img src="../../../assets/MUST_Opera/G12.jpg" alt="">
          </a>
        </div>
        </div>
    </div>
  </div>
</section>
