<section id="gallery" class="section_4">
  <!-- IMAGE GALLERY TITLE -->
  <div class="title">
      <div class="">
          <h1 style="color: #fff;">Album and Gallery</h1>
          <p>MUST OPEAR HOUSE GALLERY DISCOVER US</p>
      </div>
  </div>
  <div id="image-gallery" class="row img_gallery">
    <div class="wrap">
      <div class="content">
        <div class="row">
          <a [routerLink]="['/All-Images/'+album.albumID]"class="set" *ngFor="let album of Albums let i = index">
            <span class="layer one"><img src="{{ImagePath}}{{album?.thubnail}}" alt=""></span>
            <span class="layer two"><img src="{{ImagePath}}{{album?.thubnail}}" alt=""></span>
            <span class="layer three">{{album.title}}</span>
            <img src="{{ImagePath}}{{album?.thubnail}}" alt="">
          </a>
        </div>
        </div>
    </div>
  </div>
</section>

