<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="active" routerLink="/home">Home</a>
  <a routerLink="/about-us">About</a>
  <a routerLink="/All-Images">Gallery</a>
  <a routerLink="/All-News">News</a>
  <a routerLink="/Contact-US">Talent School</a>
</div>
<!-- header -->
<header>
  <!-- header inner -->

  <div class="head-top">
     <div class="container-fluid">
        <div class="row d_flex">
           <div class="col-sm-3">
              <div class="logo">
                 <a routerLink="/home"><img src="assets/MUST_Opera/opera.png" /></a>
              </div>
           </div>
           <div class="col-sm-9">
              <ul class="email text_align_right">
                 <li> <button class="openbtn" onclick="openNav()"><img src="assets/Assets/images/menu_btn.png"></button></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</header>

