<section id="gallery" class="section_4">
<!-- about -->
     <div id="about" class="about" style="background-color: #65696A;">
      <br>
      <br>
      <br>
      <div class="container-fluid">
         <div class="row d_flex">
            <div class="col-md-6">
               <div class="titlepage text_align_left">
                  <h2>About Us</h2>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                  <!-- <a class="read_more" href="about.html">Read More</a> -->
               </div>
            </div>
            <div class="col-md-6">
               <div class="about_img">
                  <figure><img class="img_responsive" src="assets/MUST_Opera/Bg.jpg" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end about -->

   <br>
<app-services></app-services>

    <!-- mission -->
    <div id="about" class="about">
      <div class="container-fluid">
         <div class="row d_flex">
            <div class="col-md-6">
              <div class="about_img">
                <figure><img class="img_responsive" src="assets/MUST_Opera/Bgz.png" alt="#"/></figure>
             </div>
            </div>
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2>Mission</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                <!-- <a class="read_more" href="about.html">Read More</a> -->
             </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end mission -->

     <!-- vission -->
     <div id="about" class="about" style="background-color: #65696A;">
      <div class="container-fluid">
         <div class="row d_flex">
            <div class="col-md-6">
               <div class="titlepage text_align_left">
                  <h2>Vision</h2>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                  <!-- <a class="read_more" href="about.html">Read More</a> -->
               </div>
            </div>
            <div class="col-md-6">
               <div class="about_img">
                  <figure><img class="img_responsive" src="assets/MUST_Opera/covwe.jpg" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   </section>
   <!-- end vission -->
