<section id="gallery" class="section_4">
<!-- about -->
<section class="about-section">
  <div class="container">
      <div class="row clearfix">

            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner-column">
                  <div class="sec-title">
                    <div class="title">About Us</div>
                      <h2>MUST <br> Opera House</h2>
                    </div>
                    <div class="text" style="text-align: justify;">
                      MUST Opera House At MUST students tend to spend their leisure times doing beneficial activities.
                      We mainly focus on arts as a soul feeding activity at our campus.
                      MUST Opera House is considered the place where students are free to unleash their potentials in singing,
                      acting, and playing musical instruments. Students are also free to join dancing activities and crafts making.
                      MUST Opera House provides concerts, events, and shows.
                      MUST Opera House hosts international and national ballet shows and choirs.
                      The school of talents at MUST Opera House prepares today’s generations to become tomorrow’s artists.
                      Moreover, there are different concerts that is supervised by Maestro Selim Sahab.
                      The MUST Opera House is considered the first private opera house to be established in Egypt 2001.
                      The Opera’s interior design is composed of an outstanding Concert Hall with a seating capacity of 1000 seating chairs,
                      furthermore it will be used as a conference hall for the university.
                      In addition, there is a wide reception area on each floor, a maze hall, and the activities rooms.
                    </div>
                    <div class="email" style="float: right;">To Contact US: <span class="theme_color">freequote@gmail.com</span></div>
                    <!-- <a href="about.html" class="theme-btn btn-style-three">Read More</a> -->
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="image">
                      <img src="assets/MUST_Opera/Bg.jpg" alt="">
                        <div class="overlay-box">
                          <!-- <div class="year-box"><span class="number">5</span>Years <br> Experience <br> Working</div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
   <!-- end about -->

   <app-services></app-services>

    <!-- mission -->
    <div id="about" class="about">
      <div class="container-fluid">
         <div class="row clearfix">
            <div class="col-md-6">
              <div class="about_img">
                <figure><img class="img_responsive" src="assets/MUST_Opera/G10.jpg" alt="#"/></figure>
             </div>
            </div>
            <div class="col-md-6">
              <div class="text" style="text-align: justify;">
                <br>
                <br>
                <br>
                <h2>Mission</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                <!-- <a class="read_more" href="about.html">Read More</a> -->
             </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end mission -->

     <!-- vission -->
     <div id="about" class="about" style="background-color: #c7c7c7;">
      <div class="container-fluid">
         <div class="row clearfix">
            <div class="col-md-6">
               <div class="text" style="text-align: justify;">
                  <h2>Vision</h2>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                  <!-- <a class="read_more" href="about.html">Read More</a> -->
               </div>
            </div>
            <div class="col-md-6">
               <div class="about_img">
                  <figure><img class="img_responsive" src="assets/MUST_Opera/covwe.jpg" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
   </div>

       <!-- Khaled -->
       <div id="about" class="about">
        <div class="container-fluid">
           <div class="row clearfix">
              <div class="col-md-12 align-item-center">
                <div class="about_img">
                  <figure><img class="img_responsive" src="assets/MUST_Opera/Mr-Khaled-Final-web-240x240.jpg" alt="#"/></figure>
               </div>
              </div>
              <div class="col-md-12">
                <div class="text" style="text-align: justify;">
                  <br>
                  <br>
                  <br>
                  <h2 class="text-black-50">Chancellor</h2>
                  <h2>Mr. Khaled Altoukhy <br>
                    Chancellor, Chairman of the Board of Trustees.
                    </h2>

                  <p>
                    Misr University for Science and Technology has been founded by virtue of the presidential Decree NO.245/1996. Then university was founded by a group led by the late prof. Dr. Souad Kafafi. The founders believed in the importance of private higher education. They were focused on human development which they understood to be the route to achieving development in all other fields in Egypt as well as the rest of the region.

The university uses the credit hour system to allow the students to develop independent personalities as done in internationally renowned institutes. The students are free to choose programs and specializations to suit their own aptitude and talents for the good. This system helps stimulate thinking and self study in students that paves way for creativity and self development by the means of modern technology and exploiting it to develop much needed skills

The university realizes that scientific research is imperative for success in any sector and has gathered several outstanding researchers as well as modern equipment that are able to carry through the type of research that is needed to benefit the society the most.

The university maintains a group of service centers to include the society in its progress and activities by providing services to the general public in all fields.

The value that this institution places in knowledge is because of the belief that knowledge not only liberates the mind but also paves way to innovation in every sector, therefore, creating the new generations’ capability of self progress and prosperity.
                  </p>
                  <!-- <a class="read_more" href="about.html">Read More</a> -->
               </div>
              </div>
           </div>
        </div>
     </div>
   </section>
   <!-- end vission -->
