<div id="top_section">
<div class="hero">
  <ng-container *ngFor="let slider of SLiderDTO; let i = index">
      <div class="slider" *ngIf="current == i" @fade >
          <div class="backdrop" >
              <div class="lazyloaded">
                  <img alt="" class="lazyload image" style="width: 100% !important; object-fit: cover !important;
                  opacity: 0.4 !important; background-color: black !important;" src="{{ImagePath}}/{{slider?.url}}">
              </div>
          </div>
          <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="carousel-caption d-none d-md-block">
          <div class="row d_flex">
          <div class="col-md-8">
          <div class="airmic">
            <h1 class="name">{{slider.hint}}</h1>
            <p style="text-align: justify;">{{slider.content}}</p>
          </div>
      </div>
    </div>
      </div>
      </div>
      </div>
  </ng-container>
</div>
</div>
