<body class="main-layout">

  <!-- Start Loader  -->
  <!-- <app-loader></app-loader> -->
  <!-- End -->

  <!-- Header / NAV -->
  <app-navbar></app-navbar>
  <!-- end header -->

  <!-- start slider section -->
  <app-slider></app-slider>
  <!-- end slider section -->

  <!-- about -->
  <app-about></app-about>
  <!-- end about -->

  <!-- Ticket -->
  <app-ticket></app-ticket>
  <!-- END Ticket -->

  <!-- Gallery -->
  <app-gallery></app-gallery>
  <!-- End  -->

  <!-- NEWS -->
  <app-news></app-news>
  <!-- end NEWS -->

  <!-- star sponsers -->
  <app-sponsers></app-sponsers>
  <!-- End Sponser -->

  <!-- contact section -->
  <app-contact></app-contact>
  <!-- end contact section -->

  <!-- footer -->
  <app-footer></app-footer>
  <!-- end footer -->

</body>
