<body class="home">

  <div id="preloader"></div>
<!-- START HEADER SECTION -->
<app-header></app-header>
<!-- END HEADER SECTION -->

<!-- START ALBUM RELEASE SECTION -->
<app-album></app-album>
<!-- END ALBUM RELEASE SECTION -->

<!-- START Ticket SECTION -->
<app-ticket></app-ticket>
<!-- END TOUR SECTION -->

<!-- START IMAGE GALLERY SECTION -->
<app-gallery></app-gallery>
<!-- END IMAGE GALLERY SECTION  -->

<!-- START VIDEO Tour SECTION -->
<app-video-tour></app-video-tour>
<!-- END VIDEO SECTION -->

<!-- START NEWS SECTION -->
<app-news></app-news>
<!-- END NEWS SECTION -->

<!-- START TESTIMONIALS SECTION -->
<app-testimonials></app-testimonials>
<!-- END TESTIMONIALS SECTION -->

<!-- START TESTIMONIALS SECTION -->
<app-sponsers></app-sponsers>
<!-- END TESTIMONIALS SECTION -->

<!-- START CONTACT US SECTION -->
<app-contact></app-contact>
<!-- END START CONTACT US SECTION -->

<!-- Start Footer -->
<app-footer></app-footer>
<!-- END FOOTER SECTION -->

<div class="grid" style="display:none;"></div>
</body>
