
<body class="blog-single-post home-demo-2"style="margin: auto;">
  <br>
<br>
<br>
<br>
<br>
<br>

  <!-- START BLOG POST SECTION -->
  <section id="blog-post">
      <div class="section">
          <div class="row blog-content">
              <div class="col-sm-12 post-content">
                <br>
                  <div class="featured-image">
                      <div class="featured-overly"></div>
                      <img src="assets/MUST_Opera/Bg.jpg" alt="">
                  </div>
                  <div class="post-text">
                      <div class="post-heading">
                          <h2>{{title}}</h2>
                          <div class="post-by">
                              <span>April 16, 2018 </span>
                              <span>By <a  class="categories-name">Admin </a></span>
                          </div>
                      </div>
                      <p class="post-quote">
                        {{content}}
                      </p>

                  </div>
              </div>

          </div>
      </div>
  </section>
  <!-- END BLOG POST SECTION -->
  <br>
  </body>
