<div class="content">
	<div class="home-grid-links">
		<section class="tech-talk">
			<div class="inner">
				<h1 class="block-label" style="color: white;">OUR SERVICES</h1>
				<h2 class="article-title">SERVICE (1)</h2>
				<!-- <p>In an earlier blog article, I discussed why you need a solid demand management process. Demand is what others are asking you to do. It is your &hellip;</p> -->
			</div>
		</section>
		<section class="our-work">
			<h1>SERVICE (2)</h1>
			<!-- <p>Look through our past solutions to find challenges similar to your own.</p> -->
		</section>
		<a class="link-services">
			<span>Service (3)</span>
			<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z" class=""></path></svg>
		</a>
		<a class="link-meet-fairway">
			<span class="inner">SERVICE (4)</span>
		</a>
		<a class="get-help">
			<span class="inner">
			<p>SERVICE (5)</p>
			<!-- <span class="block-button">Get Help</span> -->
			</span>
		</a>
	</div>
</div>
