<section id="testimonials" class="section_7">
  <div class="section">
      <!-- TESTIMONIALS TITLE -->
      <div class="title">
          <div class="">
              <h1>Testimonials</h1>
              <p>Customers</p>
          </div>
      </div>
      <div class="testimonial-container">
          <div class="dk-container">
              <div class="cd-testimonials-wrapper cd-container">
                  <ul class="cd-testimonials">
                      <li>
                          <div class="testimonial-content">
                              <div class="d-none d-md-block">
                                  <a href="" class="slide_img">
                                      <img src="assets/resources/images/client-1.jpg" alt="jamakassi">
                                  </a>
                                  <div class="carousel_content">
                                      <p>
                                        The Opera House is an amazing place to celebrate your wedding!
                                        It is very intimate and the venue has such character.
                                         Brittny is amazing to work with, very prompt with emails and calls.
                                         She will go out of her way to make sure all your questions and concerns are properly answered or resolved,
                                         which is a must if you’re planning your own wedding. She worked with us to get us the best deals for drinks since we were on a budget.
                                          The food was amazing too! But what surprised me the most was how everything was included from tablecloths to linens to arch decorations. The place was decorated beautifully without us spending anything extra on flowers or centerpieces, and the event flowed smoothly thanks to her.

                                      </p>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="testimonial-content">
                              <div class="d-none d-md-block">
                                  <a href="" class="slide_img">
                                      <img src="assets/resources/images/client-2.jpg" alt="No pic">
                                  </a>
                                  <div class="carousel_content">
                                      <p>
                                        First of all the story begins with last minute having to find a venue for a graduation party. Story ends with the Opra House being the perfect solution. Brittny was a one women show and did an amazing job. You would have thought there were 20 invisible people working a small event but still one person doing it all. She rocked it. The food was amazing and she she made me shine. For some one who works in the customer service industry I can honestly say she knows how to take care of a customer. She was so responsive and accommodating I could not have asked for a better experience.

                                        I live in High Springs and have been to the Great Outdoors many times and at one point you were my customer when you had my phone system. I’m a big believer in giving to your local community even though I know it is not a locally business but does locally employee I will not hesitate to call again if in need of a special event or recommend. Thank you Brittyn for making a special occasion special.
                                     </p>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="testimonial-content">
                              <div class="d-none d-md-block">
                                  <a href="" class="slide_img">
                                      <img src="assets/resources/images/client-3.jpg" alt="jamakassi">
                                  </a>
                                  <div class="carousel_content">
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna
                                          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <!-- cd-testimonials -->
          </div>
      </div>

  </div>
</section>
