<section id="on-tour" class="section_3">
  <div class="section_bg_image" style="background-image: url(assets/MUST_Opera/Bg.png)"></div>
  <div class="section">
      <!-- TOUR TITLE -->
      <div class="title">
          <div class="">
              <h1 style="color: #fff;">What plans today?</h1>
              <p>Explore and book all exclusive Events</p>
          </div>
      </div>

      <!-- TICKETS -->
      <div class="col tickets wow fadeInUpBig">
          <div class="row ticket" *ngFor="let item of TicketsDTO">
              <div class="col">
                  <div class="row">
                      <a class="col-10 ticket-link" href={{item.description}}>
                          <div class="day">
                              <div class="day_num">
                                  <!-- <span>Data</span> -->
                                  <div>
                                      <p>{{item.strDate | date : 'yyyy-MM-dd'}}</p>
                                      <!-- <p>2022</p> -->
                                  </div>
                              </div>
                          </div>
                          <div class="name">
                              <p><span>{{item.title}}</span> </p>
                          </div>
                      </a>
                      <div class="col-2 buy">
                          <a href={{item.description}} target="_blank">Buy Ticket</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
